{
    "j" = "selectNextMessageRow:";
    "k" = "selectPreviousMessageRow:";
    "J" = "selectNextMailboxRow:";
    "~J" = "selectNextCountedMailbox:";
    "K" = "selectPreviousMailboxRow:";
    "~K" = "selectPreviousCountedMailbox:";
    "l" = "expandThread:";
    ";" = "nextUnreadMessage:";
    "h" = "collapseThread:";
    "g" = "selectFirstMessageRow:";
    "G" = "selectLastMessageRow:";
    " " = "scrollPageDown:";
    "⇧ " = "scrollPageUp:";
    "u" = "toggleReadState:";
    "z" = "undo:";
    "Z" = "redo:";

    "`" = { "`" = "markAllAsRead:"; };

    "@\U000A" = "send:"; // ⌘+return
    "@\U000D" = "send:"; // ⌘+enter

    "c"     = "newMessage:";
    "/"     = "searchAllMessages:";
    "n"     = "nextMessage:";
    "p"     = "previousMessage:";
    "e"     = "archive:";
    "s"     = "toggleFlag:";
    "!"     = "moveToJunk:";
    "r"     = "reply:";
    "a"     = "replyAll:";
    "f"     = "forwardMessage:";
    "#"     = "deleteMessage:";
}

